[submodule "backend"]
	path = backend
	url = https://github.com/ThanhSon00/time-management-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/ThanhSon00/time-management-frontend
